*{
    
    background-color: #37353E; 
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.col{
    padding: 5px;
    width: 580px;
    height: 280px;
    background-color: #F9E400;
    border-radius: 50px;
    background: linear-gradient(145deg, #403838, #4c4242);
    box-shadow:  20px 20px 60px #3c3535,
             -20px -20px 60px #524747;
}
.col:hover{
    scale: -1;

}
h1{
    color: #F9E400;
    font-size: 60px;
    font-weight: 700px;
    margin-left: 40%;
}
img{
    margin-top: 40px;
    margin-left: 35px;
    width:550px;
    height: 500px;
    border-radius: 15%;
}
img:hover{
    transform: scale(.7);
}
.images{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cols img h2{
    margin-left: 160px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}